*{
    box-sizing: border-box;
    margin: 0px 0px;
    padding: 0px 0px;
 }
 body
 {
    font-family: 'Roboto',sans-serif;
 }
 .conatainer{
    position: relative;
 }
 .topbar{
   background-color: black;  
   color: white;
  
   text-align: center;
   position: relative;
   
 }
 .topbar h1 
 {
   padding: 53px;
   margin: 0px 0px;
   color: #fff;
   text-align: center;
   font-size: 40px;
   font-family: revert;
   
 
 }
 .light-300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
}

 .topbar img{
     
        position: absolute;
        top: 77px;
        left: 15px;
        transform: translateY(-50%);
        height: 139px;
   

 }
 
 .top img {
      
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    height: 80vh;
    position: relative;
}
.navbar {
    background-color: #333;
    padding: 13px 0;
    text-align: center;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
.navbar li {
    margin: 0 10px;
    position: relative;
}
.navbar a {
     
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.navbar a:hover {
    background-color: #555;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}
.dropbtn{
    background-color:transparent;
    color: white;
    border: none;
    outline: 0;
  font-size: 17px;

}
.dropdown-content a {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: transparent;
    border: none;
    color: white;
    }
.dropdown-content a:hover {
    background-color: #555;
}
 

.dropdown:hover .dropdown-content {
    display: block;
}


.Info
{
    position: absolute;
    top: 40vh;
    left: 30vh;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Info h3
{
    font-weight: 600;
     
}

.Info #title
{
    margin-bottom: 10px;
     
    text-align: center;
}
